@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

.HeaderLogo {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 3;
  user-select: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 15px;
}
.about {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  background: #3074b0;
  transition: all 0.8s ease;
  border-radius: 15px;
  z-index: 2;

}

.headerOpen {
  /* transform: translate(-100px, -100px); */
  transition: all 0.6s ease-in-out;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #3074b0;
  border-radius: 0px;
  z-index: 2;
}

.about_content {
  position: absolute;
  visibility: hidden;
  transform: translate(-50%, -45%);
  transition: all 0.6s ease;
  z-index: 2;
}

.about_content > * {
  visibility: hidden;
  z-index: 2;
}

.about_content_show {
  text-align: center;
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* プロパティ名 | 時間 | イージング関数 | 遅延 */
  transition: all 0.5s ease 0.5s;
  z-index: 2;
}

.about_content_show > * {
  transition: all 0.5s ease 0.5s;
  visibility: visible;
  z-index: 2;
}

.MAPLE_title {
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  color: black;
  font-family: 'Russo One', sans-serif;
  z-index: 2;
}
.title_text {
  display: inline-block;
}
.MAPLE_sub {
  text-align: center;
  font-size: 18px;
  color: rgb(70, 55, 37);
  font-family: 'Kiwi Maru', serif;
  z-index: 2;
}
.MAPLE_sub2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  color: rgb(255, 252, 249);
  font-family: 'Kiwi Maru', serif;
  z-index: 2;
}
.footer {
	margin-top: 100px;
  text-align: center;
  z-index: 2;
}
.icon1 {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  z-index: 2;
}
.teamName {
  display: block;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  color: black;
}
