.headerContainer {
  height: 45px;
  border: 2px black;
  text-align: right;
  p {
    margin-right: 10px;
    font-size: 25px;
  }
}
.border {
  position: relative;
  height: 2px;
  border-width: 0;
  background-image: -webkit-linear-gradient(left, transparent 0%, #ffd085 50%, transparent 100%);
  background-image: linear-gradient(90deg, transparent 0%, #fbba40 50%, transparent 100%);
}
.mask {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  .maskPic {
    height: 200px;
    margin: 0 auto;
  }
  p {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
  }
}
.friendList {
  .friendListTitle {
    font-size: 22px;
    margin-left: 40px;
    font-weight: 600;
  }
  .friendName {
    font-size: 18px;
    text-align: center;
    border-bottom: 2px black;
  }
}
