@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
.headerContainer {
  height: 80px;
  text-align: right;
  z-index: 1;
  .userName {
    font-size: 27px;
    position: absolute;
    right: 20px;
    top: 25px;
  }
}
.border {
  height: 3px;
  border-width: 0;
  background-image: -webkit-linear-gradient(left, transparent 0%, #5d65b4 50%, transparent 100%);
  background-image: linear-gradient(90deg, transparent 0%, #406cfb 50%, transparent 100%);
}
.mask {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  .maskStatus {
    font-family: 'Kosugi', sans-serif;
    font-size: 40px;
  }
  .maskPic {
    // height: 200px;
    width: 90vw;
    margin: 0 4vw;
    border: 1px solid #F15A24;
    border-radius: 6vw;
  }
  p {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
  }
}
.bothChart{
  margin: 4vw;
  padding: 2% 5%;
  border: 1px solid black;
  border-radius: 6vw;
}
// .lineChart{
  
// }
// .barChart{
  
// }