.shouldAnimateStart {
  position: relative;
  height: 100%;
  width: 100%;
}

.shouldAnimateStart::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  // animation-name duration function delay times
  // 切り替える前に flash しないように 1.2s よりちょっと長めに
  animation: endsplash 1.25s ease 0s 1;
  background: greenyellow;
}

@keyframes endsplash {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    background: white;
  }
}
