.playingVideo {
  height: 100vh;
  width: 100vw;
  background: black;
}

.shouldAnimateStart {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: black;
}

.shouldAnimateStart::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  // animation-name duration function delay times
  // 切り替える前に flash しないように 1.2s よりちょっと長めに
  animation: endsplash 1.25s ease 0s 1;
  background: white;
}

@keyframes endsplash {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

.splashVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
}

@media screen and (min-width: 481px) {
  .playingVideo {
    padding-top: 25vh;
  }

  .shouldAnimateStart {
    padding-top: 25vh;
  }

  .splashVideo {
    width: 50%;
  }
}
